:root {
    font-size:10px;
}
.container {
    width: 100vw;
    height: 100vh;
    display:flex;
    justify-content: center;
    align-items: center;
    transform: rotate(90deg);
}
.keyBoardLayout {
    display: flex;
    justify-content: end;
    align-items: flex-end;
    position: absolute;
    width:142vmin;
    height:96vmin;
    border:.2rem solid black;
    border-radius: 3% 3% 5% 5%;
}
.keyContainer {
    position: relative;
    display: flex;
    top: -.5rem;
    right: 1rem;
    width: 109vmin;
    height: 74vmin;
    border: .2rem solid black;
    background-color: black;
}
.key {
    width: 16vmin;
    height: 72vmin;
    background: white;
    border: .1rem solid black;
    display: flex;
    justify-content: center;
    align-items: flex-end;
}
.blackKey{
    position: absolute;
    width: 5vmin;
    height: 36vmin;
    background-color: black;
}
.blackKey>span {
    color: white;
}
span {
    font-size: 2rem;
}
.CSharp {
    left: 1.5rem;
}
.DSharp {
    left: 4.5rem;
}
.FSharp {
    left: 9.5rem;
}
.GSharp {
    left: 12.5rem;
}
.ASharp {
    left: 15.5rem;
}
.CSharp-2 {
    right: 18rem;
}
.DSharp-2 {
    right:15.5rem;
}
.FSharp-2 {
    right: 10rem;
}
.GSharp-2 {
    right: 7rem;
}
.ASharp-2 {
    right: 4.5rem;
}