:root {
    font-size:10px;
}
.container {
    width: 100vw;
    height: 100vh;
    display:flex;
    justify-content: center;
    align-items: center;
    transform: rotate(90deg);
}
.keyBoardLayout {
    background-color: black;
    display: flex;
    justify-content: end;
    align-items: flex-end;
    position: absolute;
    width:174vmin;
    height:96vmin;
    border:.2rem solid black;
    border-radius: 3% 3% 5% 5%;
}
div.nameLayout{
    width: 20vmin;
    top: -34rem;
    position: relative;
    font-size: 1rem;
}
span.name, span.model{
    font-family:'Lobster Two', cursive ;
    color: white;
}
span.modelNumber{
    color: yellow;
}
.keyContainer {
    position: relative;
    display: flex;
    top: -.5rem;
    right: 1rem;
    width: 150vmin;
    height: 74vmin;
    border: .2rem solid black;
    background-color: black;
}
.key {
    width: 10vmin;
    height: 73vmin;
    background: white;
    border: .1rem solid black;
    border-radius: 10%;
    display: flex;
    justify-content: center;
    align-items: flex-end;
}
.blackKey{
    position: absolute;
    width: 7vmin;
    height: 36vmin;
    background-color: black;
}
.blackKey>span {
    color: white;
}
span {
    font-size: 2rem;
}
.CSharp, .DSharp, .FSharp, .GSharp, .ASharp, .CSharp-2, .DSharp-2, .FSharp-2, .GSharp-2, .ASharp-2 {
    border: .2rem white solid;
}
.CSharp {
    left: 2.5rem;
}
.DSharp {
    left: 6.5rem;
}
.FSharp {
    left: 13.5rem;
}
.GSharp {
    left: 17.5rem;
}
.ASharp {
    left: 21.5rem;
}
.CSharp-2 {
    right: 25rem;
}
.DSharp-2 {
    right:21.5rem;
}
.FSharp-2 {
    right: 14rem;
}
.GSharp-2 {
    right: 10rem;
}
.ASharp-2 {
    right: 6.5rem;
}
.green, .red {
    width: 1rem;
    height: 1rem;
    border-radius: 100%;
    position: relative;
}
.green {
    background-color: rgb(147,240,114);
    top: 3rem;
    right: 7rem;
}
.red {
    background-color: rgb(255,124,136);
    right: 4rem;
    top: 2rem;
}
@media all and (min-width:1024px){
    .container {transform: rotate(360deg);
    }
}