:root {
    font-size:10px;
}
.container {
    width: 100vw;
    height: 100vh;
    display:flex;
    justify-content: center;
    align-items: center;
    transform: rotate(90deg);
}
.keyBoardLayout {
    background-color: rgb(38,40,40);
    display: flex;
    justify-content: end;
    align-items: flex-end;
    position: absolute;
    width:174vmin;
    height:96vmin;
    border:.2rem solid black;
    border-radius: 3% 3% 5% 5%;
}
div.nameLayout{
    width: 20vmin;
    top: -33rem;
    position: relative;
    font-size: 1rem;
}
span.name, span.model{
    font-family:'Lobster Two', cursive ;
    color: white;
}
span.modelNumber{
    color: yellow;
}
.keyContainer {
    position: relative;
    display: flex;
    top: -.5rem;
    right: 1rem;
    width: 150vmin;
    height: 74vmin;
    border: .2rem solid black;
    background-color: black;
}
.key {
    width: 10vmin;
    height: 73vmin;
    background: white;
    border: .1rem solid black;
    border-radius: 10%;
    display: flex;
    justify-content: center;
    align-items: flex-end;
}
.blackKey{
    position: absolute;
    width: 7vmin;
    height: 36vmin;
    background-color: black;
}
.blackKey>span {
    color: white;
}
span {
    font-size: 2rem;
}
.CSharp, .DSharp, .FSharp, .GSharp, .ASharp, .CSharp-2, .DSharp-2, .FSharp-2, .GSharp-2, .ASharp-2 {
    border: .2rem white solid;
}
.CSharp {
    left: 2.68rem;
}
.DSharp {
    left: 6.75rem;
}
.FSharp {
    left: 15.75rem;
}
.GSharp {
    left: 19.65rem;
}
.ASharp {
    left: 24rem;
}
.CSharp-2 {
    right: 26rem;
}
.DSharp-2 {
    right:21.5rem;
}
.FSharp-2 {
    right: 12.5rem;
}
.GSharp-2 {
    right: 8.5rem;
}
.ASharp-2 {
    right: 4.5rem;
}
.circle-container {
    display: flex;
    justify-content: space-evenly;
    position: relative;
    right: 1rem;
    top: 4rem;
    
}
.circle-green, .circle-pink {
    width: 1rem;
    height: 1rem;
    border-radius: 100%;
    filter: brightness(1.25) blur(0.1px);
    box-shadow: inset 0px 2.5px 0px 0px black;
}
.circle-green {
    background-color: rgb(147,240,114);
}
.circle-pink {
    background-color: rgb(255,124,136);

}
@media all and (min-width:1024px){
    .container {transform: rotate(360deg);
    }
}